<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- CSS - Local -->
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/index.css" />
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/navbar.css" />

<!-- CSS - Remote -->
<link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/konpa/devicon@master/devicon.min.css">

<!-- Favicon -->
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

<!-- JS - Remote -->
<script src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>

<script type="text/javascript">
    window.addEventListener('scroll', ()=>{
        const nav = document.querySelector('nav')
        nav.classList.toggle('onscroll', window.scrollY > 0)
    })
</script>
