<div>
    <div
    id="mainBG"
    style="background-image: url('{{ if $.Site.Params.mainbg }}{{ $.Site.Params.mainbg }}{{ else }}https://picsum.photos/1920/1080{{ end }}');"
    >

    {{ partial "utilities/wave" .}}

    <div class="centerAll">
        <div class="title text-6xl font-bold text-center">
            {{if  $.Site.Params.maintitle }}
                {{ $.Site.Params.maintitle }}
            {{else}}
                Hello, World
            {{end}}
        </div>

        <div class="text text-xl text-center">
            {{if $.Site.Params.maintext}}
                {{ $.Site.Params.maintext }}
            {{else}}
                Edit config.toml/params
            {{end}}
        </div>
    </div>
</div>

    <main class="container mx-auto mt-8 px-4 xl:px-0">
        {{partial "utilities/widgetAbout" .}}
        {{partial "utilities/widgetBoxIconText" .}}
        {{partial "utilities/widgetBoxImageText" .}}
    </main>

</div>
